.main {
    padding: 5% 7%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    align-items: center;
    color: white;
}

.image {
    box-shadow: 0 0 50px #000;
    border-radius: 5px;
}

.text{
    text-align: center;
    max-width: 800px;
    padding-left: 50px;
}

.postTitle {
    font-weight: bold;
}

.blockName {
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}

@media (max-width: 1200px) {
    .main{
        flex-wrap: wrap;
        flex-direction: column;
        background-image: linear-gradient(to right, #434343 0%, black 100%);

    }
}

@media (max-width: 600px) {
    .image {
        max-width: 350px;
    }
    .text {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .image {
        max-width: 250px;
    }
}