.main {
    max-width: 1500px;
    margin: 5% 7%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    align-items: center;
}

@media(max-width: 1200px){
    .main .text{
        display: flex;
        justify-content: center;
        max-width: 970px;
        flex-wrap: wrap;
        margin: 0 auto;

    }
    .image {
        display: flex;
        justify-content: center;
        max-width: 350px;
    }
}

@media(max-width: 992px){
    .main{
        max-width: 750px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 767px){
    .main{
        max-width: none;
    }
}

@media (max-width: 410px) {
    .image {
        max-width: 300px;
    }
}

.title {
    padding-top: 117px;
}

.image {
    /*width: 475px;*/
    /*height: 475px;*/
    box-shadow: 0 0 50px #000;
    border-radius: 5px;
}

.text{
    text-align: center;
    margin-right: 25%;
}



.postTitle {
    font-weight: bold;
}
