.button {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-left: 40px;
    margin-right: 40px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;

    font-family: Roboto, sans-serif;
}

.button:hover {
    background: #E8C300;
    transition: all ease-in-out 0.5s;
    color: #fff;

}

.active {
    background: #E8C300;
}