.main {
    margin: 5% 7%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    padding-top: 117px;

}

.image {
    box-shadow: 0 0 50px #000;
    border-radius: 5px;
}

.text{
    text-align: center;
    /*margin-right: 25%;*/
}

.postTitle {
    font-weight: bold;
}

.allInputs {
    display: flex;
    justify-content: space-between;
}

.groupInputs {
    display: grid;
    margin: 0 5px;
}

.workingHours {
    text-align: center;
    margin: 0 7% 100px;
    color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 1230px) {
    .main {
        flex-direction: column-reverse;
    }
}


@media (max-width: 750px) {
    .image {
        max-width: 350px;
    }
    .allInputs {
        flex-direction: column;
    }
    .groupInputs {
        margin: 0 auto;
    }
}
