.main {
    margin: 5% 7%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    align-items: center;
}

.title {
    padding-top: 117px;

}

.image {
    width: 475px;
    height: 475px;
    box-shadow: 0 0 50px #cccccc;
    border-radius: 5px;
}

.text{
    text-align: center;
    margin-right: 25%;
}

.postTitle {
    font-weight: bold;
}
