.mainContainer {
    color: #fff;
    font-family: Roboto, sans-serif;
}

@media (max-width: 1200px) {
    .list{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
}

.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 7%;
    padding: 2% 0;
}

.items {
    cursor: pointer;
    user-select: none;
}