.main {
    display: grid;
    justify-content: center;
    margin-top: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    align-items: center;
    margin: 50px;

}

.textContainer {
    max-width: 700px;
    margin: 0 auto;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    /*margin: 0;*/
    list-style: none;
}

.menu {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    display: flex;
    margin: 50px 7%;
}

.menuContainer li {
    padding: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    border-right: 1px solid #cccccc;
    padding-right: 25px;
}

.menuContainer li:last-child {
    border-right: none;
}

.menuList {
    text-align: left;
    margin-right: 87px;
    margin-bottom: 30px;
}

.menuList p:first-child {
    font-family: 'Fredericka the Great', cursive;
    font-size: 18px
}

.menuList p:last-child {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #E5E5E5;
}

.menuList p {
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .main{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    .text {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .image {
        max-width: 250px;
    }
    .menuList p:first-child {
        font-size: 14px;
    }

}
