.main {
    padding: 5% 7%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    align-items: center;
    color: white;
}

.image {
    width: 475px;
    height: 475px;
    box-shadow: 0 0 50px #000;
    border-radius: 5px;
}

.text{
    text-align: center;
}

.text p:last-child{
    margin: 0 auto;
    max-width: 550px;
}

.postTitle {
    font-weight: bold;
}

.info {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding-bottom: 50px;
    margin: 0;
}

.blockName {
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}