.main {
    padding: 5% 7%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    align-items: center;
    color: white;
}

.image {
    box-shadow: 0 0 50px #000;
    border-radius: 5px;
}

.text{
    text-align: center;
}

.text p:last-child{
    margin: 0 auto;
    max-width: 550px;
}

.postTitle {
    font-weight: bold;
}

.info {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding-bottom: 50px;
    margin: 0;
}

.blockName {
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}

@media (max-width: 1200px) {
    .main{
        flex-wrap: wrap;
        flex-direction: column;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }
    .text {
        padding-bottom: 50px;
    }
    .info {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .image {
        max-width: 350px;
    }
}

@media (max-width: 400px) {
    .image {
        max-width: 250px;
    }
    .menuList p:first-child {
        font-size: 14px;
    }

}
