.main {
    margin-bottom: 100px;
}

.text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.text p:last-child {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.inputs {
    margin: 0 17%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textArea {
    width: 100%;
    height: 120px;
    margin: 5px 4px;
    border-radius: 5px;
    background: #E5E5E5;
    border: none;
    padding-left: 10px;
}

.ulInfo {
    display: flex;
    justify-content: space-between;
    float: left;
    list-style: none;
}

.list {
    margin-right: 25px;
}

.tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1200px) {
    .main{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .text {
        padding-bottom: 50px;
    }
    .info {
        visibility: hidden;
    }
    .tools {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .ulInfo {
        display: block;
    }
}

@media (max-width: 600px) {
    .image {
        max-width: 350px;
    }
}

@media (max-width: 400px) {
    .image {
        max-width: 250px;
    }
    .menuList p:first-child {
        font-size: 14px;
    }

}
